{% extends "base.html" %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary &#160;&#160;-&#160;&#160; <em>Home</em>{% endblock %}

{% block main %}
<!-- Home page text -->
<h1>Welcome to: Maōri - English Dictionary</h1>
<h3>Use the links on the left to choose a category.</h3>
<p>Version: 2.6</p>

<!-- Sends the admins ability to add categories through the base.html using blocks to align under category links. -->
{% if admin == 1: %}
<div class="table">  <!-- Main div with class table. -->
    <form class="myform" method="POST">
        <div class="button-group">
            <label for="add_category">Add Category</label>
            <input name="insert_category" id="add_category" placeholder="Enter name...">
            <input type="submit" name="button" value="Add">

            <label for="delete_category">Delete Category</label>
            <select name="remove_category" id="delete_category">
                {% for category, link in categories %}
                    <option value="{{ link }}">{{ category }}</option>
                {% endfor %}
            </select>
            <input type="submit" name="button" value="Delete">
        </div>
    </form>

    <table>
        <tr>
            <th>First Name:</th>
            <th>Last Name:</th>
            <th>Role:</th>
        </tr>
        <!-- Extracts the first name, last name role from the users table sent from app.py -->
        {% for fname, lname, admin in users: %}
        <tr>
            <td>{{ fname }}</td>
            <td>{{ lname }}</td>
            <!-- Shows if the users are owner, admin or user based on their admin variable -->
            {% if admin == 2: %}
            <td>Owner</td>
            {% elif admin == 1: %}
            <td>Admin</td>
            {% else: %}
            <td>User</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}


